@page "/player4"
@inject HttpClient Http

<div class="container">

    @if (MustChangePassword || showSettingsWindow)
    {
        <div class="player-section">
            <h2>Settings</h2>
            <EditForm Model="@this" OnValidSubmit="@SetPlayerName">
                <div class="form-group">
                    <RadzenLabel for="Playername4" Style="margin-top: 10px">Name:</RadzenLabel>
                    <RadzenTextBox id="Playername4" @bind-Value="Playername4" onblur="@SetPlayerName" Style="width: 100%; color: white;" />
                </div>
            </EditForm>
            <EditForm Model="@this" OnValidSubmit="@Submit">
                <div class="form-group">
                    <RadzenLabel for="newPassword" Style="margin-top: 10px">Password:</RadzenLabel>
                    <RadzenTextBox type="password" id="newPassword" @bind-Value="newPassword" Style="width: 100%; color: white;" />
                    <RadzenButton Text="Save" Click="@Submit" Style="margin-top: 10px" />
                </div>
            </EditForm>
        </div>

    }
    else
    {
        @if (isAuthenticated)
        {
            <div class="center-content">
                <div class="player-section">
                    <div class="player-header">

                        <RadzenText Text="@Playername4" TextStyle="TextStyle.H3" TagName="TagName.H1" />
                        <RadzenButton Text="Settings" Click="@Settings" />
                    </div>
                    <div class="image-section">
                        <RadzenImage Path="@TreacheryImagePath" Style="width: 100%; margin-top: 20px" />
                    </div>
                    <div class="button-section">
                        <RadzenButton Text="Unveil" Click="@Button0ClickPlayer4" Style="width: 100%; margin-bottom: 20px;" />
                    </div>
                    <div class="center-content">
                        <RadzenText Text="@TreacheryRuleText" TextStyle="TextStyle.H3" TagName="TagName.H1" Style="font-size: 14px; width: 100%;" />
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="player-section">
                <div class="player-header">
                    <RadzenText Text="@Playername4" TextStyle="TextStyle.H3" TagName="TagName.H1" />
                </div>
                <div class="player-section">
                    <EditForm Model="@this" OnValidSubmit="@HandleValidSubmit">
                        <RadzenLabel for="password" Style="margin-top: 10px">Password:</RadzenLabel>
                        <RadzenTextBox type="password" id="password" @bind-Value="inputPassword" Style="width: 100%; color: white" />
                        <RadzenButton Text="Enter" ButtonType="ButtonType.Submit" Style="width: 100%; margin-top: 10px" />
                    </EditForm>
                </div>
            </div>
        }
    }
</div>
