@page "/player2"
@inject HttpClient Http

<PageTitle>@Playername2</PageTitle>
    <RadzenText Text="@Playername2" TextStyle="TextStyle.H3" TagName="TagName.H1" Style="width: 257px" />
    @if (isAuthenticated)
{
    @if (MustChangePassword)
    {
        <div>
            <h2>Please change your default password.</h2>
            <label for="newPassword">New Password:</label>
            <InputText id="newPassword" @bind-Value="newPassword" />
            <RadzenButton Text="Set Password" Click="@SetNewPassword" />
        </div>
    }
    else
    {
        <!-- Display other content when the user is authenticated and no password change is needed -->
        <RadzenImage Path="@TreacheryImagePath" Style="width: 350px" />
        <RadzenButton Style="width: 350px; height: 52px; font-size: 17px" Text="Unveil" Click="@Button0ClickPlayer2" />
        <RadzenText Text="@TreacheryRuleText" TextStyle="TextStyle.H3" TagName="TagName.H1" Style="width: 350px; height: 500px; font-size: 14px"></RadzenText>
    }
}
else
{
    <EditForm Model="@this" OnValidSubmit="@HandleValidSubmit">
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="inputPassword" />
        <RadzenButton Text="Enter" ButtonType="ButtonType.Submit" />
    </EditForm>
}
